<div class="modal-header">
  <h5 class="modal-title" id="modal-title">Add Schedule Id</h5>
  <button
    type="button"
    class="btn close"
    aria-label="Close button"
    aria-describedby="modal-title"
    (click)="modal.dismiss('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <input
    type="text"
    class="form-control"
    placeholder="Enter Schedule Id to connect"
    [(ngModel)]="inputScheduleId"
    id="inputScheduleId"
  />
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-outline-secondary"
    (click)="modal.dismiss('cancel click')"
  >
    CANCEL
  </button>
  <button
    type="button"
    ngbAutofocus
    class="btn btn-success"
    (click)="closeModal()"
  >
    OK
  </button>
</div>
