<style>
  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #64437d;
    color: white;
    font-weight: 600;
  }

  .toolbar i {
    padding-left: 30px;
    cursor: pointer;
  }

  .toolbar .database {
    float: left;
    padding-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
  }
</style>

<nav
  class="navbar fixed-top navbar-expand-md navbar-light white double-nav scrolling-navbar"
>
  <div class="toolbar" role="banner">
    <div class="col-sm-9">
      <h4>
        <i
          class="fas fa-home"
          *ngIf="!jsondataService.hideHomeBtn"
          (click)="HomeClick()"
        ></i>
      </h4>
    </div>
    <div class="col-sm-3">
      <span class="database"
        ><b><i class="fas fa-user"></i> Data Management</b></span
      >
      <h4>
        <i
          class="fas fa-power-off"
          (click)="logOut()"
        ></i>
      </h4>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>